/* Общие стили для блока Featured Items */
.featured-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Обертка элементов на новую строку при нехватке места */
}

/* Стили для каждой отдельной футболки */
.item {
    width: calc(30% - 20px); /* Устанавливаем ширину элемента с отступами */
    margin-bottom: 20px; /* Отступ снизу между элементами */
    padding: 20px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Граница элемента */
    border-radius: 5px; /* Скругление углов */
    box-sizing: border-box; /* Учитываем границы в общей ширине элемента */
}

/* Стили для изображения футболки */
.item img {
    width: 100%; /* Изображение займет всю доступную ширину элемента */
    height: auto; /* Автоматический подбор высоты */
    border-radius: 5px; /* Скругление углов изображения */
}

/* Стили для названия футболки */
.item h3 {
    margin-top: 10px; /* Внешний отступ сверху */
    font-size: 16px; /* Размер шрифта */
}

/* Стили для описания футболки */
.item p {
    margin-top: 10px; /* Внешний отступ сверху */
    font-size: 14px; /* Размер шрифта */
}

/* Стили для цены футболки */
.item span {
    display: block; /* Отображаем цену на новой строке */
    font-weight: bold; /* Жирный шрифт */
    color: #007bff; /* Цвет текста */
}

